---
import type { Character } from '@domain/types'
import Polaroid from '@/components/Polaroid/Polaroid.astro';

interface Props {
	characters: Character[]
}

const { characters } = Astro.props;
---

<div class="polaroid_wrapper">
  <div class="one">
    <Polaroid 
			id={characters[0].id} 
			altText={characters[0].data.altText} 
			image={characters[0].data.image}
			name={characters[0].data.name}
			pattern={characters[0].data.pattern}
			size="sm" 
		/>
  </div>
  <div class="two">
		<Polaroid 
			id={characters[1].id} 
			altText={characters[1].data.altText} 
			image={characters[1].data.image}
			name={characters[1].data.name}
			pattern={characters[1].data.pattern}
			size="sm" 
		/>
  </div>
  <div class="three">
		<Polaroid 
			id={characters[2].id} 
			altText={characters[2].data.altText} 
			image={characters[2].data.image}
			name={characters[2].data.name}
			pattern={characters[2].data.pattern}
			size="sm" 
		/>
  </div>
  <div class="four">
		<Polaroid 
			id={characters[3].id} 
			altText={characters[3].data.altText} 
			image={characters[3].data.image}
			name={characters[3].data.name}
			pattern={characters[3].data.pattern}
			size="sm" 
		/>
  </div>
	<div class="five">
		<Polaroid 
			id={characters[4].id} 
			altText={characters[4].data.altText} 
			image={characters[4].data.image}
			name={characters[4].data.name}
			pattern={characters[4].data.pattern}
			size="sm" 
		/>
  </div>
</div>

<style>
  .polaroid_wrapper {
		display: none;
		justify-content: center;
		flex-wrap: wrap;

		@media (width > 40rem) {
      display: flex;
    }
	}

	.one {
		position: relative;
		transform: rotate(-10deg);
	}

	.two {
		position: relative;
		transform: rotate(10deg);
	}

	.three {
		position: relative;
		transform: rotate(-7deg);
	}

	.four {
		position: relative;
		transform: rotate(4deg);
	}

	.five {
		position: relative;
		transform: rotate(-5deg);
	}

	.one:hover, .two:hover, .three:hover, .four:hover, .five:hover {
		z-index: 2;
	}
</style>
