---
import './styles.css';

interface Props {
  checked: boolean;
  dataFilterValue: string;
  dataFilterType: string;
  id: string;
  name: string;
  value: string;
}

const { checked, dataFilterValue, dataFilterType, id, name, value } =
  Astro.props;
---

<input
  checked={checked}
  data-filter-value={dataFilterValue}
  data-filter-type={dataFilterType}
  id={id}
  name={name}
  type="checkbox"
  value={value}
  class="filterItem"
>
  <label for={id} class="filterItem__label">
    <slot />
  </label>
</input>
