---
interface Props {
  checked: boolean;
  filterLabel?: string;
  image: boolean;
  dataFilter: string;
  id: string;
  name: string;
  value: string;
  // biome-ignore lint/suspicious/noExplicitAny: <explanation>
  symbolComponent: any;
}

const {
  checked,
  filterLabel,
  image = false,
  dataFilter,
  id,
  name,
  value,
  symbolComponent,
} = Astro.props;

const SymbolComponent = symbolComponent;
---

<input
  checked={checked}
  data-filter={dataFilter}
  id={id}
  name={name}
  type="checkbox"
  value={value}
  class="filterItem"
>
  <label for={id} class="filterItem__label">
    {
      image && symbolComponent && <SymbolComponent alt={`${name} symbol`} id={id} size={24} />
    }
    {filterLabel}
  </label>
</input>

<style>
  .filterItem {
    display: none;
  }

  .filterItem__label {
    display: flex;
    align-items: center;
    gap: var(--bn-spacing-8);
    width: fit-content;
    border-radius: 8px;
    padding: 2px var(--bn-spacing-8);
    background-color: var(--bn-base-color-quaternary);
    transition: background-color .3s, transform .2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.04);
    }
  }

  .filterItem:checked + .filterItem__label {
    background-color: var(--bn-base-color-primary);
  }
</style>
