---
import './styles.css';

interface Props {
  checked: boolean;
  dataFilter: string;
  id: string;
  name: string;
  value: string;
}

const {
  checked,
  dataFilter,
  id,
  name,
  value,
} = Astro.props;
---

<input
  checked={checked}
  data-filter={dataFilter}
  id={id}
  name={name}
  type="checkbox"
  value={value}
  class="filterItem"
>
  <label for={id} class="filterItem__label">
    <slot />
  </label>
</input>
