---
interface Props {
  checked: boolean;
  dataFilter: string;
  id: string;
  name: string;
  value: string;
}

const {
  checked,
  dataFilter,
  id,
  name,
  value,
} = Astro.props;
---

<input
  checked={checked}
  data-filter={dataFilter}
  id={id}
  name={name}
  type="checkbox"
  value={value}
  class="filterItem"
>
  <label for={id} class="filterItem__label">
    <slot />
  </label>
</input>

<style>
  .filterItem {
    display: none;
  }

  .filterItem__label {
    display: flex;
    align-items: center;
    gap: var(--bn-spacing-8);
    width: fit-content;
    border-radius: var(--bn-border-radius-8);
    padding: 2px var(--bn-spacing-8);
    background-color: var(--bn-base-color-tertiary-light);
    color: var(--bn-text-color-reverse);
    transition: background-color .3s, transform .2s;
    cursor: pointer;

    &:hover {
      transform: scale(1.04);
      background-color: var(--bn-base-color-tertiary-extra-light);
    }
  }

  .filterItem:checked + .filterItem__label {
    background-color: var(--bn-base-color-secondary);
  }
</style>
