---
import styles from './styles.module.css';

interface Props {
  checked: boolean;
  dataFilterValue: string;
  dataFilterType: string;
  id: string;
  name: string;
  value: string;
}

const { checked, dataFilterValue, dataFilterType, id, name, value } =
  Astro.props;
---

<div class={styles.container}>
  <input
    checked={checked}
    data-filter-value={dataFilterValue}
    data-filter-type={dataFilterType}
    id={id}
    name={name}
    type="checkbox"
    value={value}
    class={styles.filterItem}
  />
  <label for={id} class={styles.label}>
    <slot />
  </label>
</div>
