---
import Heading from '@/components/Heading/Heading.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

import styles from './styles.module.css';
---

<BaseLayout pageTitle='Barcelona Nocturna - Historia' description="Historia de Barcelona Nocturna. Desde el control de la Camarilla hasta la actualidad tras la Segunda Inquisición.">
  <Heading tagName="h1" size="h1">Historia de Barcelona Nocturna</Heading>

  <Heading tagName="h2" size="h2">Antes de la Segunda Inquisición</Heading>

  <p class={styles.text}>Barcelona, conocida por su rica historia y su vibrante vida nocturna, ha sido durante siglos una joya en el Mediterráneo, tanto para los mortales como para los vampiros. Antes de la llegada de la Segunda Inquisición, la ciudad estaba firmemente bajo el control de la Camarilla. El Príncipe de Barcelona, Don Ramón de la Vega, un Ventrue poderoso y astuto, gobernaba con mano firme pero justa, asegurando que la Mascarada se mantuviera intacta mientras permitía a la ciudad prosperar en su apertura al mundo y en su progresismo.</p>

  <p class={styles.text}>Don Ramón, que llevaba siglos al mando, era un príncipe pragmático, que supo cómo mantener el delicado equilibrio entre la tradición y la modernidad. Su corte estaba compuesta por algunos de los más notables vástagos de la ciudad, incluyendo a su Senescal, Isabel Montserrat (Toreador), conocida por su influencia en los círculos artísticos, y al Sheriff, Bernard Medina (Nosferatu), un estratega militar que aseguraba que las leyes del príncipe se respetarán en toda la ciudad.</p>

  <p class={styles.text}>Aunque la Camarilla mantenía un control férreo sobre Barcelona, con territorios bien definidos y una estructura jerárquica sólida, en las sombras se gestaban movimientos que querían desafiar el status quo. Los Anarquistas, aunque relegados a poblaciones cercanas como Badalona y L'Hospitalet, mantenían un ojo vigilante sobre la ciudad, esperando una oportunidad para infiltrarse y ganar terreno.</p>

  <Heading tagName="h2" size="h2">Durante la Segunda Inquisición</Heading>

  <p class={styles.text}>La llegada de la Segunda Inquisición cambió radicalmente el panorama para los vástagos de Barcelona. Los cazadores, armados con tecnología avanzada y un conocimiento profundo de las debilidades vampíricas, golpearon con fuerza, exponiendo y eliminando a numerosos vástagos de la Camarilla. La Mascarada fue puesta a prueba como nunca antes.</p>

  <p class={styles.text}>Don Ramón de la Vega logró sobrevivir a la purga inicial, pero a costa de ver cómo su poder se desmoronaba. Su influencia sobre la ciudad se debilitó considerablemente, y sus aliados más cercanos fueron destruidos o forzados a huir. En medio de este caos, los Anarquistas aprovecharon la oportunidad para infiltrarse en la ciudad. Figuras como Ares Salazar, una Gangrel feroz y carismática, y Elena Torres, una Brujah apasionada y decidida, se levantaron como líderes de la insurgencia anarquista, reclamando para sí grandes partes del territorio barcelonés.</p>

  <p class={styles.text}>La Camarilla, debilitada y fragmentada, no pudo detener el avance anarquista. Con el paso del tiempo, los territorios de Barcelona se dividieron entre las zonas controladas por la Camarilla, las zonas dominadas por los Anarquistas, y otras áreas que se volvieron independientes, aunque con vínculos más cercanos al movimiento anarquista que a la Camarilla.</p>

  <p class={styles.text}>Poco después de esta devastadora crisis, la llamada de la Gehena resonó entre los vástagos más antiguos de la ciudad. Don Ramón de la Vega, que había resistido la purga, no pudo resistir esta llamada y desapareció de Barcelona junto a otros antiguos vástagos. Su desaparición dejó un vacío de poder que necesitaba ser llenado con urgencia.</p>

<Heading tagName="h2" size="h2">Actualidad</Heading>

  <p class={styles.text}>En la actualidad, Barcelona está dividida, con cada facción reclamando su parte de la ciudad. Fausto Benavides, un Toreador con un don natural para la política y las relaciones públicas, ascendió al poder dentro de la Camarilla, proclamándose Príncipe tras la desaparición de Don Ramón. Fausto ha intentado restaurar el esplendor de la Camarilla en Barcelona, centrando sus esfuerzos en los distritos de Sarria - Sant Gervasi, Les Corts, Eixample y Sants-Montjuic. Su enfoque más artístico y carismático ha atraído a un círculo de vástagos que valoran la cultura y el refinamiento, pero su liderazgo también ha sido cuestionado por aquellos que consideran que carece de la mano firme de su predecesor.</p>

  <p class={styles.text}>Miquel Moliner, un Ventrue ambicioso y calculador, ha tomado el puesto de senescal de la Camarilla. Miquel, con un enfoque más pragmático y orientado al control, representa la antigua guardia que cree en la necesidad de un liderazgo más rígido y estratégico. Su relación con Fausto es tensa pero funcional, cada uno reconociendo la importancia del otro para mantener la estabilidad en una ciudad dividida.</p>

  <p class={styles.text}>Los Anarquistas, bajo el liderazgo de Ares Salazar,  Elena Torres y Samuel Lacalle, han reclamado los distritos de Horta-Guinardo, San Andrés, San Martín y Nou Barris, mientras que los distritos de Gracia, Eixample y Ciutat Vella han optado por una autonomía relativa, aunque con fuertes lazos con los Anarquistas. Estos territorios independientes son liderados por vástagos locales que han encontrado una manera de mantener el control sin alinearse completamente con ninguna de las grandes facciones.</p>

  <p class={styles.text}>Esta división ha creado una situación tensa y volátil en la ciudad. La Camarilla y los Anarquistas están en una constante lucha por el poder, mientras los independientes navegan entre ambos, tratando de mantener su autonomía en medio del conflicto. La Segunda Inquisición sigue siendo una amenaza constante, y con la desaparición de los antiguos, la política vampírica en Barcelona se ha vuelto más peligrosa y compleja que nunca.</p>
</BaseLayout>