---
import { getCollection } from 'astro:content';
import Heading from '@/components/Heading/Heading.astro';

const posts = await getCollection('posts');
---

<ul class="postList">
  {posts.map((post) => (
    <li class="postList__item">
      <Heading tagName="h2" size="h2" transitionName={`blogTitle-${post.slug}`}>
        <a class="postList__itemTitleLink" href={`/posts/${post.slug}`}>{post.data.title}</a>
      </Heading>
      <p class="postList__itemAbstract">{post.data.abstract}</p>
      <a class="postList__itemReadMore" class="" href={`/posts/${post.slug}`}>Leer más</a>
    </li>
  ))}
</ul>

<style>
  .postList {
		flex: var(--bn-content-flex);
		max-width: 800px;
		list-style: none;
		padding: 0;
	}

  .postList__item {
		margin-block-end: 48px;
	}

	.postList__itemTitleLink {
		color: var(--bn-base-color-tertiary);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.postList__itemAbstract {
		margin-block-start: var(--bn-spacing-12);
		margin-block-end: var(--bn-spacing-8);
	}

  .postList__itemReadMore {
    color: var(--bn-base-color-gray--30);
		text-decoration: none;
		font-weight: 600;

		&:hover {
			text-decoration: underline;
		}
  }
</style>
