---
import Heading from '@/components/Heading/Heading.astro';
import styles from './styles.module.css';

interface Props {
  posts: {
		id: string;
		data: {
			title: string;
			abstract: string;
			publishDate: string;
			sessionDate: string;
			tags: string[];
			isDraft: boolean;
		};
	}[];
}

const { posts } = Astro.props;
---

<ul class={styles.postList}>
  {posts.map((post) => (
    <li class={styles.postList__item}>
              <Heading tagName="h2" size="h2">
        <a class={styles.postList__itemTitleLink} href={`/posts/${post.id}`}>{post.data.title}</a>
      </Heading>
      <p class={styles.postList__itemAbstract}>{post.data.abstract}</p>
      <a class={styles.postList__itemReadMore} href={`/posts/${post.id}`}>Leer más</a>
    </li>
  ))}
</ul>
