---
import { Image, getImage } from 'astro:assets';
import { getCollection } from 'astro:content';
import ChildrenVampireWorld from '../../assets/polaroid_backgrounds/childrenVampireWorld.png';
import InternalPolaroid from './InternalPolaroid/InternalPolaroid.tsx';

interface Props {
  keyName: string;
  size?: 'sm' | 'md' | 'lg';
}

const { keyName, size } = Astro.props;

// TODO: Review why I ask for all the collection and not just the one I need
const characters = await getCollection('characters');
const characterRaw = characters.find((character) => character.id === keyName);

const {
  altText = '',
  image,
  name = 'john-doe',
  pattern,
} = characterRaw?.data || {};

let optimizedBackground: { src: string } | undefined;

if (pattern === 'childrenVampireWorld') {
  optimizedBackground = await getImage({
    src: ChildrenVampireWorld,
    format: 'webp',
  });
}

const backgroundURL = optimizedBackground?.src || '';
---

<a href={`/characters/${characterRaw?.id}`}>
  <InternalPolaroid client:load
    backgroundURL={backgroundURL}
    name={name}
    size={size}
  >
    {image && <Image src={image} alt={altText} format="webp" quality="mid" transition:name={`character-${characterRaw?.id}`}/>}
  </InternalPolaroid>
</a>

<style>
  a {
    text-decoration: none;
  }
</style>
