---
import { Image, getImage } from 'astro:assets';
import ChildrenVampireWorld from '../../assets/polaroid_backgrounds/childrenVampireWorld.png';

import styles from './polaroid.module.css';

interface Props {
  id: string;
  altText?: string;
  image?: { 
    src: string,
    width: number,
    height: number,
    format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif"
  };
  name?: string;
  pattern?: string;
  size?: 'sm' | 'md' | 'lg';
}

const { altText = '', id, image, name, pattern, size = 'md' } = Astro.props;

let optimizedBackground: { src: string } | undefined;

if (pattern === 'childrenVampireWorld') {
  optimizedBackground = await getImage({
    src: ChildrenVampireWorld,
    format: 'webp',
  });
}

const backgroundURL = optimizedBackground?.src || '';

const polaroidClasses = [
  styles.polaroid, {
    [styles[size]]: size
  }
]
---

<a href={`/characters/${id}`}>
  <div
    class:list={polaroidClasses}
    style={{ '--background': `url(${backgroundURL})` } as React.CSSProperties}
  >
    <figure>
      <div class={styles.polaroid__image}>
        {image && <Image src={image} alt={altText} format="webp" quality="mid" loading="lazy" />}
      </div>
      <figcaption>{name}</figcaption>
    </figure>
  </div>
</a>

<style>
  a {
    text-decoration: none;
  }
</style>
